main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.back-button {
  font-family: 'Saira';
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0 30px 10%;
  cursor: pointer;
  width: 50px;
}

.back-button a {
  margin-left: 5px;
  color: #617480;
}

h1 {
  display: flex;
  margin: 20px 0 0 10%;
  font-family: 'Saira';
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
}

p {
  display: flex;
  font-family: 'Saira';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  margin: 10px 0 15px 10%;

  span {
    font-family: 'Saira';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
}

.products-side {
  display: flex;
  flex-direction: column;
}

.products {
  display: flex;
  flex-direction: row;
  margin: 0 15px 20px 10%;
  max-width: 720px;
  width: 90%;
  height: 211px;
  cursor: pointer;

  img {
    display: flex;
    width: auto;
    height: 100%;
    gap: 0px;
    opacity: 0px;
    border-radius: 8px 0px 0px 8px;
}
}

.infos {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0 8px 8px 0;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  h1 {
    margin: 10px 0 0 7%;
    font-family: 'Saira';
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
  }
  img {
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    right:  15px;
  }
}

.description  {
  font-family: 'Saira';
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 10px 0 0 7%;

}

.amount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8%;
  position: relative;
  margin-bottom: 5px;

  .input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1px 10px;
    text-align: center;
    width: 65px;
    height: 40px;
    gap: 0px;
    border-radius: 8px;
    border: 1px solid #A8A8B3;
    font-family: 'Saira';
    line-height: 24px;
    text-align: center;
    background-color: #F3F5F6;

  }

  p {
    margin: 0;
    padding: 0;
    color: #323238;
    font-family: 'Saira';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

  }

  button {
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #323235;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

  }

  .price {
    font-weight: bolder;
  }
}

.total-side {
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: column;

  .infos {
    width: 352px;
    top: 120px;
    left: 928px;
    gap: 0px;
    opacity: 0px;

  }

  h2 {
    margin:5% 0 0 10%;
    font-family: 'Saira';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #41414D;

  }

  p {
    display: flex;
    justify-content: space-between;
    font-family: 'Saira';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

  }

  span {
    margin-right: 5%;
    font-family: 'Saira';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

  }

  .bar {
    width: 80%;
    border: 1px solid #DCE2E5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 10%;
  }
}

.info-button {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    width: 304px;
    height: 44px;
    border-radius: 4px;
    background-color: #51B853;
    color: #ffffff;
    font-family: 'Saira';
    font-size: 16px;
    font-weight: 500;
    border: none;
    margin: 10px 0 15px 0;
  }
}

@media screen and (max-width: 750px) {

  main {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }

  .products-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .products {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 0 180px 0;

    img {
      width: 100%;
      border-radius: 8px 8px 0px 0px;
    }
  }

  .infos {
    width: 100%;
  }
  .title {
    img {
    width: 24px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    position: absolute;
    right:  10px;
    }
  }

  .total-side {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .infos {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 0 10px 0;
    }

    p {
      display: flex;
      align-items: center;
    }

    button {
      width: 90%;
    }
  }



}
