.cart {
  position: relative;
  display: flex;
  cursor: pointer;
}

.item-count {
  font-family: 'Saira';
  position: absolute;
  bottom: -7px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}
